.user, .budget-store, .content{
    float: left;
    margin: 0 9% 0 0;
    background: none;
    border: none;
    padding: 0;
}

.user-text, .budget-store-text, .content-text{
    float: left;
    width: 96.91px;
    height: 19.38px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #494848;
    text-align: right;
    padding: 0;
}
.user-text{
    min-width: 150px;
    overflow: auto;
    overflow-y: hidden;
}
.content-text{
    width: 70px;
}

.downArrow{
    float: left;
    margin: 21px 0 0 2px;
    position: absolute;
}

.user-dropdown, .budget-store-dropdown, .content-dropdown{
    background: #FFD706;
    width: 120px;
}
.user-dropdown{
    transform: translate(30px,0);
}
