.YourOrders{
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    background-image: url(../../Frame.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-color: #F8F6ED;
    width: 100%;
    min-width: 1440px;
    padding: 53px 0 19px 0;
    height: 100%;
    overflow-y: auto;
}

.YourOrders-path{
    margin: 34px 0 15px 55px;
    font-size: 14px;
    line-height: 21px;
    color: #7B7A7A;
}
.YourOrders-path a{
    font-size: 14px;
    line-height: 21px;
    color: #7B7A7A;
    text-decoration: none;
}
.YourOrders-heading{
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.YourOrders-content{
    height: 78%;
    overflow-y: auto;
    padding-top: 10px;
}
.YourOrders-content::-webkit-scrollbar{
    display: none;
}
.Order-frame{
    width: 1160px;
    height: 112px;
    margin: 0 25px 20px 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22.64px;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}
.YourOrders-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70.27px;
    height: 71.24px;
    border: 0.962636px solid #F0E4D0;
    border-radius: 8.66373px;
    float: left;
}
.YourOrders-img img{
    width: 51.02px;
    height: 51.98px;
    border-radius: 8.66373px;
    filter: drop-shadow(0px 1.92527px 3.85055px rgba(71, 71, 71, 0.25));
}
.YourOrders-name{
    font-weight: 500;
    font-size: 19.8073px;
    line-height: 30px; 
}
.YourOrders-fullname{
    font-weight: 500;
    font-size: 11.0041px;
    line-height: 17px;
    color: #7B7A7A;
    margin-bottom: 8px;   
}
.Order-delivery-details{
    display: flex;
}
.Order-delivery-details dt{
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}
.Order-delivery-details img{
    width: 33px;
    margin: 0 7.5px;
}

.Order-frame button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 247px;
    height: 25px;
    background: #F8F6ED;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #383838;
    margin-bottom: 9px;
}
#YourOrders-dprice{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #545454;
}
#YourOrders-price, #YourOrders-discount{
    font-weight: 500;
    font-size: 10.3825px;
    line-height: 16px;
    color: #707070;    
}
#YourOrders-price{
    text-decoration: line-through;
    margin-right: 11px;
}


.YourOrders-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-10px);
}
.YourOrders-btns button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 156px;
    height: 37px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}