.Individual{
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    margin-top: 53px;
    background-image: url(./../../Frame.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-color: #F8F6ED;
}
.productBG{
    float: left;
    width: 100%;
    height: 444px;
    background: #FFDF37;
    display: flex;
    justify-content: center;
    mix-blend-mode: normal;
}
.product-images{
    position: absolute;
    float: left;   
    width: 100%;
    height: 440px;
    margin-top: -40px;
}

.product-img{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 420px;
    align-items: center;
}
#product-img{
    display: flex;
}

.product-image{
    width: 254px;
    height: 257px;
    margin: 50px 24px 0 24px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    transition: 1s;
}


.slide{
    transition: 1.5s;
}
.slide.active{
    transition: 1.5s;
    transform: scale(1.3);
}

#product-left-btn, #product-right-btn{
    position: absolute;
    width: 51.84px;
    height: 51.84px;
    border-radius: 50%;
    background: #F8F6ED;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    z-index: 2;
    top: 200px;
}
#product-left-btn{
    left: 25px;
}
#product-right-btn{
    right: 25px;
}
#product-left-btn:disabled{
    display: none;
}

#product-like-btn{
    float: left;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    margin: -20px 0 0 24px;
}
.product-like-btn{
    width: 24px;
    height: 22px;
}
#add-to-cart-btn, #buy-now-btn{
    float: right;
    width: 214px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;    
    background: #F8F6ED;
    box-shadow: 0px 1px 4px rgba(71, 71, 71, 0.25);
    border-radius: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: -20px 20px 0 0;
}
#buy-now-btn{
    width: 214px;
    height: 47px;
    background: #FFFFFF;
    margin: -20px 26px 0 0;
    text-decoration: none;
}
#buy-now-btn:active{
    transform: translateY(2px);
}