.PaymentPage{
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    background-image: url(../../Frame.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-color: #F8F6ED;
    width: 100%;
    min-width: 1440px;
}